body {
  background-color: #cfcfcf;
.patch-header {
  color: black;
}
  .patch-body {
  color: black;
}
.back-btn a {
    color: black;
}
}

body.dark {
    background-color: #171717;
  .patch-header {
  color: white;
}
  .patch-body {
  color: white;
}
.back-btn a {
    color: white;
}
}

.patch-header {
  color: white;
  font-family: Consolas;
}

.patch-body {
  color: white;
  font-family: Consolas;
  font-size: 25px;
}

.back-btn-container {
    position: absolute;
    z-index: 4;
    bottom: 0;
}

.back-btn a {
    color: white;
}

.back-btn {
    font-size: 20px;
    padding: 10px;
}

  /* animations */

@keyframes fade-in {
  
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.text-container {
  animation: fade-in 0.3s;
}

/**/